summary {
    list-style: none;
    outline: none;
}

summary::-webkit-details-marker {
    display: none;
}

details .summary-inner {
    transition: 0.5s ease-in;
    transform: rotate(0deg);
}

details .summary-inner:before {
    content: url(https://d3unf4s5rp9dfh.cloudfront.net/OneUI_doc/icon_toggle_open.svg);
    position: absolute;
    top: 0rem;
    right: 0.7rem;
    transform: rotate(0);
    transform-origin: .6rem 50%;
    transition: .25s ease;
}

details[open] .summary-inner:before {
    transform: rotate(-180deg);
}