/** General **/
[class*="snippets-"] code[class*="language-"],
[class*="snippets-"] pre[class*="language-"] {
	font-family: 'SamsungOneKorean-400', sans-serif;
	font-size: 16px;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5em;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
pre[class*="language-"] {
    margin: 0;
}
code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap !important;
    max-width: 100%;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 23px;
}

/* Typography */
.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

.code-toolbar {
    background-color: rgba(247,247,247,1);
    border: 1px solid #E4E4E4;
	border-bottom:0;
	cursor: pointer;
}
.code-toolbar:hover {
    background-color: rgba(247,247,247,0.6);
}

/*.snippets-light .toolbar:hover {
    background-color: rgba(247,247,247,0.6);
}*/

.code-toolbar:active {
    opacity: 1.0;
}

/* Toolbar */
.toolbar {
    position: relative;
    height: 40px;
    font-family: 'Roboto', sans-serif;
}
.toolbar div{
    display: inline-block;
}
.toolbar-item span {
    position: absolute;
    top: 12px;
    left: 23px;
    font-size: 14px;
	line-height: 1em;
}
.toolbar-item div {
    position: absolute;
    right: 23px;
    top: 11px;
}

/* Toolbar-Copy btn */
div.copybtn {
    width: 18px;
    height: 18px;
    background-size: cover;
    opacity: 0.4;
    transition-property: opacity;
    transition-duration: 0.1s;
}
div.copybtn:hover {
    cursor: pointer;
    opacity: 0.8;
}
div.copybtn:active {
    opacity: 1.0;
}

/** Light **/
.snippets-light code[class*="language-"],
.snippets-light pre[class*="language-"] {
    background: none;
    color: #1CB1A2;
}
.snippets-light pre[class*="language-"] {
    border: 1px solid #E4E4E4;
	max-height:400px;
	overflow-y:auto;
}
.snippets-light pre[class*="language-"]::-webkit-scrollbar {width: 2px !important;}
.snippets-light pre[class*="language-"]::-webkit-scrollbar-thumb {background-color: #e5e5e5 !important; border-radius: 0px !important;}
.snippets-light pre[class*="language-"]::-webkit-scrollbar-track {background-color:#fff !important;}

/* Typography-Color */
.snippets-light .token.comment,
.snippets-light .token.block-comment,
.snippets-light .token.prolog,
.snippets-light .token.doctype,
.snippets-light .token.cdata {
	color: #C7C7C7;
}

.snippets-light .token.punctuation {
	color: #838282;
}

.snippets-light .token.tag,
.snippets-light .token.attr-name,
.snippets-light .token.namespace,
.snippets-light .token.deleted {
	color: #e2777a;
}

.snippets-light .token.function-name {
	color: #6196cc;
}

.snippets-light .token.boolean,
.snippets-light .token.number,
.snippets-light .token.function {
	color: #838282;
}

.snippets-light .token.property,
.snippets-light .token.class-name,
.snippets-light .token.constant,
.snippets-light .token.symbol {
	color: #D33B3B;
}

.snippets-light .token.selector,
.snippets-light .token.important,
.snippets-light .token.atrule,
.snippets-light .token.keyword,
.snippets-light .token.builtin {
	color: #7238E4;
}

.snippets-light .token.string,
.snippets-light .token.char,
.snippets-light .token.attr-value,
.snippets-light .token.regex,
.snippets-light .token.variable {
	color: #287FE3;
}

.snippets-light .token.operator,
.snippets-light .token.entity,
.snippets-light .token.url {
	color: #838282;
}

/* Toolbar-color */
.snippets-light .toolbar {
    border-bottom: none;
}
.snippets-light .toolbar-item span {
    color: #636363;
}

/* Toolbar-Copy btn color */
.snippets-light div.copybtn {
    background-image: url('../images/copy_light.svg'); 
	transition: 80ms;
}
.snippets-light div.copybtn.on {
    background-image: url('../images/icon_copied.svg');
    top: 9px; width: 52px; height: 22px; opacity: 1;
}

/** Dark **/
.snippets-dark code[class*="language-"],
.snippets-dark pre[class*="language-"] {
    background: #1E1E22;
    color: #5CB4AB;
}

/* Typography-Color */
.snippets-dark .token.comment,
.snippets-dark .token.block-comment,
.snippets-dark .token.prolog,
.snippets-dark .token.doctype,
.snippets-dark .token.cdata {
	color: #6A6A6A;
}

.snippets-dark .token.punctuation {
	color: #ccc;
}

.snippets-dark .token.tag,
.snippets-dark .token.attr-name,
.snippets-dark .token.namespace,
.snippets-dark .token.deleted {
	color: #e2777a;
}

.snippets-dark .token.function-name {
	color: #6196cc;
}

.snippets-dark .token.boolean,
.snippets-dark .token.number,
.snippets-dark .token.function {
	color: #e6e6e6;
}

.snippets-dark .token.property,
.snippets-dark .token.class-name,
.snippets-dark .token.constant,
.snippets-dark .token.symbol {
	color: #DB5D5D;
}

.snippets-dark .token.selector,
.snippets-dark .token.important,
.snippets-dark .token.atrule,
.snippets-dark .token.keyword,
.snippets-dark .token.builtin {
	color: #B189FF;
}

.snippets-dark .token.string,
.snippets-dark .token.char,
.snippets-dark .token.attr-value,
.snippets-dark .token.regex,
.snippets-dark .token.variable {
	color: #5092DE;
}

.snippets-dark .token.operator,
.snippets-dark .token.entity,
.snippets-dark .token.url {
	color: #E6E6E6;
}

/* Toolbar-color */
.snippets-dark .toolbar {
    background-color: #3C3C42;
}
.snippets-dark .toolbar-item span {
    color: #C4C4C6;
}

/* Toolbar-Copy btn color */
.snippets-dark div.copybtn {
    background-image: url(../images/copy_dark.svg);
}


@media (max-width: 767px) {
	.snippets-light pre[class*="language-"] {overflow-x: hidden;width: 100%;}
}