.main-container {
	overflow-x: visible !important;
	height: auto !important;
}

.Fullcontainer {
	width: 100%;
}

.beforeContents {
	display: flex;
	justify-content: center;
	align-items: center;
}

.stickyContainer {
	position: sticky;
	top: 0px;
	display: flex;
	flex-direction: column;
	align-items: left;

}

.stickyContent {
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
}

.footer {
	background-color: #f2f2f2;
}

.scrollHeight {
	height: 0px;
}


.sprite1 {
	width: 100%;
	height: 543px;
	background: url(../images/3-2-2-1–0524.png);
	background-position: 0px 0px;
	background-size: 600% 700%;
}

.sprite2 {
	width: 100%;
	height: 543px;
	background: url(../images/3-2-2-2–0524.png);
	background-position: 0px 0px;
	background-size: 600% 700%;
}

.sprite3 {
	width: 100%;
	height: 543px;
	background: url(../images/3-2-2-3–0524.png);
	background-position: 0px 0px;
	background-size: 600% 700%;
}

.sprite4 {
	width: 100%;
	height: 543px;
	background: url(../images/3-2-2-4–0524.png);
	background-position: 0px 0px;
	background-size: 600% 700%;
}


@media (min-width: 1260px) {
    #box00 {
        width: 760px;
    }
}

@media (min-width: 1124px) and (max-width:1259.98px) {
    #box00 {
        width: 740px;
    }
}

@media (max-width:1123.98px) {
    #box00 {
        width: 100%;
    }
}